.header{
    
    position: relative;

    &_navigation{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin:2.5rem 0;
 
    }
    &_logo img{

        @include breakpoint-Up(x-small){
            width: 7rem;
        }

        @include breakpoint-Up(smaller){
            width:8rem;
        }

        @include breakpoint-Up(x-large){
            width: 10rem;
            margin-left: 1rem;
        }
    }

    &_items{
        padding-left: 5rem;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;

        @include breakpoint-Up(x-small){
            padding-left:0;
        }

        @include breakpoint-Up(small){
            padding-right: 1.2rem;
            font-size: 16px;
        }
       
        @include breakpoint-Up(large){
            padding-left:16rem;
        }

        a{
            padding-right:2rem;
            display:none;

            @include breakpoint-Up(x-small){
                padding-right: 0.5rem;
                font-size: 11px;
                display:inline;
            }

            @include breakpoint-Up(smaller){
                padding-right: 1.4rem;
                font-size: 14px;
            }

            @include breakpoint-Up(small){
                padding-right: 1.3rem;
                font-size: 16px;
                padding-right: 3rem;
            }

            @include breakpoint-Up(large){
                padding-right: 2rem;
            }

            @include breakpoint-Up(larger){
                padding-right: 2.5rem;
            }
        }

        a:hover{
            color:$softRed;
        }

        button{
            background-color: #fa5757;
            padding: 0.4rem 1.5rem;
            text-transform: uppercase;
            font-size: 14px;
            display:none;

            @include breakpoint-Up(x-small){
                padding: 0.4rem 0.7rem;
                font-size: 10px;
                display:inline;font-size: 12px;
            }

            @include breakpoint-Up(smaller){
                font-size: 12px;
            }

            @include breakpoint-Up(small){
                padding: 0.4rem 1.4rem;
            }
        }

        button:hover{
            background-color: $white;
            border:2.5px solid $softRed;
            color:$softRed;
            padding: 0.4rem 1.2rem;
        }
    }

    .overlay{
        position:fixed;
        background-color: $veryDarkBlueOpacity;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        padding-top: 2.5rem;

        @include breakpoint-Up(xx-small){
            height: 100vh;
            }

        &_nav{
            display:flex;
            justify-content: space-between;
            align-items:center;
            margin: 0 2rem;

            @include breakpoint-Up(xx-small){
                margin: 0 4rem;
            }
        }

        &_items{
            display:grid;
            grid-template-columns: 1fr;
            justify-content: space-around;
            align-items: center;
            margin-top: 2rem;
            
            a{
                color:$white;
                letter-spacing: 0.2rem;
                padding: 1.5rem 0;
                text-align: center;
                border-top:1px solid $hamburgerBorder;
                margin: 0 2rem;
                text-transform: uppercase;
            }

            a:hover{
                color:$softRed;
            }

            #extra_border{
                border-bottom:1px solid $hamburgerBorder;
            }
            
            button{
                margin: 1.5rem 2rem;
                padding: 0.7rem 2rem;
                background-color:transparent;
                border: 2px solid white;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
            }

            button:hover{
                color:$softRed;
                border: 2px solid $softRed;
            }
        }

        &_social{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10rem;

            @include breakpoint-Up(xx-small){
                margin-top: 8rem;
            }

            img{
                padding: 0 1.5rem;
            }
        }
    }

    #header_hamburger{
        @include breakpoint-Up(x-small){
            display:none;
        }
    }

    #toggleSection{
        display:none;
    }
}

