$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$veryDarkBlueOpacity:hsla(229, 31%, 21%, 0.91);
$white:#fff;
$hamburgerBorder:rgba($color: #ffffff, $alpha: 0.1);

$medium:400;
$bold:500;